.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 60px;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 20px;
  width: 88px;
  object-fit: contain;
  cursor: pointer;
}

.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
}
